.header {
    height: 100px;
}

img {
    margin-left: 1%;
}

nav {
    display: flex;
    float: right;
    margin-top: 1%;
    margin-right: 1%;
}

a {
    margin-right: 1%;
    width: 150px;
    
}

mat-slide-toggle {
    color: antiquewhite;
}

/* https://coolors.co/8693ab-bdd4e7-212227-637074-284872 */