.row {
    background-color: #284872;
    top: 0px;
    height: 120px;
    width: 100%;
}

.col {
    margin-left: 5%;
}

nav {
    display: block;
}

a {
    margin-right: 1%;
    width: 150px;
    
}

h1 {
    color: #FFFFFF;
}

mat-button {
    outline: #FFFFFF;;
}

/* https://coolors.co/8693ab-bdd4e7-212227-637074-284872 */