<div class="header">
    <img src="../../favicon.ico" height="90px" width="90px" routerLink="home">
    <nav>
        <a mat-raised-button routerLink="about">About Me</a>
        <a mat-raised-button routerLink="projects">Projects</a>
        <a mat-raised-button routerLink="skills">Skills</a>
        <a mat-raised-button routerLink="contact">Contact Me!</a>
        <a mat-raised-button routerLink="resume">Resume</a>
        <mat-slide-toggle #darkModeSwitch [checked]="isChecked" (toggleChange)="changeTheme()"></mat-slide-toggle>
    </nav>
</div>    
