.header {
    height: 100px;
}

img {
    margin-left: 2%;
}

// pushes nav when switch toggled
nav {
    display: flex;
    float: right;
    margin-top: 30px;
    margin-right: 1%;
}

a {
    margin-right: 1%;
    width: 150px;
    
}

mat-slide-toggle {
    align-self: center;
}