html {
    scroll-behavior: smooth;
}

.main {
    margin-left: 10%;
    margin-right: 10%;
}

#intro .body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

#intro .left {
    display: flex;
    flex-direction: column;
    align-items: start;
}

#intro .right img {
    border: 5px solid transparent;
}

// h1 {
//     text-align: center;
//     font-size: 40px;
// }


// p {
//     width: 100%;
//     font-size: 2rem;
//     line-height: normal;
// }

// a, p {
//     font-family: 'Raleway', sans-serif;
// }

#intro .scroll {
    position: absolute;
    left: 50%;
    transform: translate(0, -50%);
    transition: all 0.5s;
}