<div class="main">
    <div class="position-absolute top-50 start-50 translate-middle">
        <h1>Hello, my name is Mehul!</h1>
        <table>
            <tr>
                <th><img src="" height="400" width="300"></th>
                <td><p>
                    I am a sophomore Computer Science major at UC Davis. I've been an avid coder for almost 6 years since the first time I ever logged into hour of code. Some of my
                    core interests are mobile application development, python automation, and problem solving with coding. Outside of these things, I love travelling, listening to music,
                    going on drives, and hanging out with friends.
                </p></td>
            </tr>
        </table>
    </div>
</div>

