html {
    scroll-behavior: smooth;
}

.main {
    
}

#intro {
    height: 100vh;
    margin-left: 10%;
    margin-right: 10%;
}

#intro .body {
    display: flex;
    margin-top: 50px;
    align-items: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    border-radius: 20px;
    justify-content: space-between;
    gap: 40px;
}

#intro .left {
    display: flex;
    margin-left: 30px;
    flex-direction: column;
    align-items: start;
}

#intro .left h1 {
    text-align: center;
    font-size: 3.5rem;
    margin-bottom: 30px;
}

#intro .left p {
    width: 100%;
    font-size: 1rem;
    line-height: 1.3rem;
}

#intro .left a, p {
    font-family: 'Raleway', sans-serif;
}

#intro .right {
    
}

#intro .right img {
    margin: 20px;
    border: 1px solid;
    border-radius: 20px;
    height: 400px;
    width: 300px;
}

#intro .left .social-links {
    font-size: 2rem;
}

.scroll {
    position: absolute;
    margin-top: 10%;
    left: 50%;
    transform: translate(0, -50%);
    transition: all 0.5s;
}

.scroll::before {
    position: absolute;
    top: -16px;
    left: -16px;
    z-index: -1;
    content: '';
    width: 44px;
    height: 44px;
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1);
    border-radius: 100%;
    animation: pulse 3s infinite;
}

.scroll:hover {
    opacity: 0.7;
}

@keyframes pulse {
    0%, 100% {
        opacity: 0;
    }
    15%, 45% {
        opacity: 1;
    }
    60% {
        box-shadow: 0 0 0 30px rgba(255, 255, 255, 0.1);
        opacity: 0;
    }
}

#journey .title h1 {
    text-align: center;
    padding-top: 75px;
    padding-bottom: 50px;
    font-size: 5rem;
    text-shadow: 2px 2px 5px black;
}

#journey .timeline {
    margin: 0 auto;
    max-width: 750px;
    padding: 25px;
    display: grid;
    grid-template-columns: 1fr 3px 1fr;
    color: #ffffff;
}

#journey .tl-component {
    margin: 0 20px 20px 20px;
}

#journey .tl-section {
    padding: 1.5em;
    background: rgba(255,255,255,0.2);
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    border-radius: 10px;
}

#journey .tl-date-right {
    text-align: right;
}

#journey .tl-date-left {
    text-align: left;
}

#journey .tl-middle {
    position: relative;
    background: #ffffff;
}

#journey .tl-point {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 15px;
    height: 15px;
    background-color: white;
    border-radius: 50%;
}

#journey .tl-component-title {
    margin: 0;
    font-size: 1.15em;
    font-weight: bold;
}

#journey .tl-component-text {
    line-height: 1.5;
}

