<div class="main">
    <section id="intro">
        <div class="body">
            <div class="left">
                <h1>Hi, my name is Mehul!</h1>
                <p>
                    I am a sophomore Computer Science major at UC Davis. I've been an avid coder for almost 6 years 
                    since the first time I ever logged into code.org. Some of my core interests are mobile application 
                    development, python automation, and problem solving with coding. Outside of these things, I love 
                    traveling, listening to music, going on drives, and hanging out with friends.
                </p>
            </div>
            <div class="right">
                <img src="../../assets/mehul.png" height="400" width="300">
            </div>
        </div>
        <a href="about/#where" class="scroll">
            <i class="bx bxs-down-arrow"></i>
        </a>
    </section>
    <section id="where">
        <h1>Where I'm From</h1>
        <div class="body">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore 
                et dolore magna aliqua. Felis donec et odio pellentesque. At varius vel pharetra vel turpis nunc. 
                Faucibus in ornare quam viverra orci sagittis. Rhoncus est pellentesque elit ullamcorper dignissim 
                cras tincidunt lobortis feugiat. Vel orci porta non pulvinar. Fermentum dui faucibus in ornare. 
                Elementum eu facilisis sed odio morbi quis. Sed odio morbi quis commodo odio aenean sed. Posuere 
                urna nec tincidunt praesent semper feugiat nibh sed pulvinar. Pharetra massa massa ultricies mi quis 
                hendrerit dolor. Est ullamcorper eget nulla facilisi etiam. Est placerat in egestas erat imperdiet 
                sed euismod nisi. Ultricies integer quis auctor elit. Arcu bibendum at varius vel pharetra vel. 
                Volutpat sed cras ornare arcu dui vivamus. Tristique risus nec feugiat in fermentum posuere urna 
                nec. Tincidunt praesent semper feugiat nibh sed pulvinar.
            </p>
        </div>
    </section>

    <section id="why">
        <h1>Why I started coding</h1>
        <div class="body">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore 
                et dolore magna aliqua. Felis donec et odio pellentesque. At varius vel pharetra vel turpis nunc. 
                Faucibus in ornare quam viverra orci sagittis. Rhoncus est pellentesque elit ullamcorper dignissim 
                cras tincidunt lobortis feugiat. Vel orci porta non pulvinar. Fermentum dui faucibus in ornare. 
                Elementum eu facilisis sed odio morbi quis. Sed odio morbi quis commodo odio aenean sed. Posuere 
                urna nec tincidunt praesent semper feugiat nibh sed pulvinar. Pharetra massa massa ultricies mi quis 
                hendrerit dolor. Est ullamcorper eget nulla facilisi etiam. Est placerat in egestas erat imperdiet 
                sed euismod nisi. Ultricies integer quis auctor elit. Arcu bibendum at varius vel pharetra vel. 
                Volutpat sed cras ornare arcu dui vivamus. Tristique risus nec feugiat in fermentum posuere urna 
                nec. Tincidunt praesent semper feugiat nibh sed pulvinar.
            </p>
        </div>
    </section>
</div>

