<div class="project-cards">
    <div class="card" routerLink="">
        <div class="info">
            <i class='bx bx-laptop' ></i>
            <h1>StockWatch</h1>
        </div>
    </div>

    <div class="card" routerLink="">
        <div class="info">
            <i class='bx bx-laptop' ></i>
            <h1>Facebook Clone</h1>
        </div>
    </div>
    
    <div class="card" routerLink="seefood">
        <div class="info">
            <i class='bx bx-mobile-alt' ></i>
            <h1>SeeFood</h1>
        </div>
    </div>
    
    <div class="card" routerLink="face-blur">
        <div class="info">
            <i class='bx bx-bot'></i>
            <h1>Face Blur</h1>
        </div>
    </div>

    <div class="card" routerLink="">
        <div class="info">
            <i class='bx bx-mobile-alt' ></i>
            <h1>GeoNotify</h1>
        </div>
    </div>

    <div class="card" routerLink="">
        <div class="info">
            <i class='bx bx-code-alt'></i>
            <h1>Battle Ship</h1>
        </div>
    </div>

    <div class="card" routerLink="">
        <div class="info">
            <i class='bx bxs-report'></i>
            <h1>Heart Disease Likelyhood Prediction</h1>
        </div>
    </div>

    <div class="card" routerLink="">
        <div class="info">
            <i class='bx bx-laptop'></i>
            <h1>URL Shortener</h1>
        </div>
    </div>

    <div class="card" routerLink="">
        <div class="info">
            <i class='bx bx-laptop'></i>
            <h1>Coding Portfolio</h1>
        </div>
    </div>

    <!-- <div class="card" routerLink="">
        <div class="info">
            <h1>Flash Chat</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                Libero enim sed faucibus turpis in. Purus non enim praesent elementum. 
                Maecenas pharetra convallis posuere morbi leo urna. Nulla aliquet 
                porttitor lacus luctus accumsan tortor posuere ac ut.
            </p>
        </div>
    </div> -->

    <!-- <div class="card" routerLink="">
        <div class="info">
            <h1>Class Groups</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                Libero enim sed faucibus turpis in. Purus non enim praesent elementum. 
                Maecenas pharetra convallis posuere morbi leo urna. Nulla aliquet 
                porttitor lacus luctus accumsan tortor posuere ac ut.
            </p>
        </div>
    </div> -->
</div>