<div class="position-absolute top-50 start-50 translate-middle">
    <h2>Feature Currently Unavavailable</h2>
    <div class="form-field">
        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput placeholder="user@email.com">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput placeholder="John Joe">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Message</mat-label>
            <textarea matInput placeholder="Enter message"></textarea>
        </mat-form-field>
        <button mat-raised-button>Submit</button>
    </div>
</div>
