<div class="position-absolute top-50 start-50 translate-middle">
    <ul>
        <li>
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput placeholder="user@email.com">
            </mat-form-field>
        </li>
        <li>
            <mat-form-field appearance="outline">
                <mat-label>Message</mat-label>
                <textarea matInput placeholder="Enter message"></textarea>
            </mat-form-field>
        </li>
        <button mat-raised-button>Submit</button>
    </ul>
</div>
