.main {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

video {
    margin-bottom: 20px;
}

p {
    text-align: left;
}

.description {
    margin-left: 10%;
    margin-right: 10%;
}