<div class="main">
    <div class="header-cards">
        <div class="card">
            <div class="info">
                <i class='bx bx-mobile-alt' ></i>
                <h1>Mobile Application Development</h1>
            </div>
        </div>
    
        <div class="card">
            <div class="info">
                <i class='bx bx-laptop' ></i>
                <h1>Full-Stack Web Development</h1>
            </div>
        </div>
    
        <div class="card">
            <div class="info">
                <i class='bx bx-bot'></i>
                <h1>Machine Learning and Artificial Intelligence</h1>
            </div>
        </div>
    </div>

    <h1>Certificates</h1>
    <div class="certificate-cards">
        <div class="card">
            <img src="../../assets/AWS.png">
        </div>
        <div class="card">
            <img src="../../assets/JPMC.png">
        </div>
        <div class="card">
            <img src="../../assets/VISA.png">
        </div>
        <div class="card">
            <img src="../../assets/iOS.png">
        </div>
        <div class="card">
            <img src="../../assets/MLAI.png">
        </div>
    </div>

    <h1>Experience</h1>

    <h1>Coursework</h1>
</div>