<div class="main">
    <section id="expertise">
        <div class="title">
            <h1>Expertise</h1>
        </div>

        <div class="expertise-cards">
            <div class="card">
                <div class="front">
                    <i class='bx bx-mobile-alt' ></i>
                    <h1>Mobile Application Development</h1>
                </div>
                <div class="back">
                    <h1>Technologies</h1>
                    <ul>
                        <li>iOS - Xcode/Swift</li>
                        <li>Android - Android Studio/Java</li>
                    </ul>
                </div>
            </div>
        
            <div class="card">
                <div class="front">
                    <i class='bx bx-laptop' ></i>
                    <h1>Full-Stack Web Development</h1>
                </div>
                <div class="back">
                    <h1>Technologies</h1>
                    <ul>
                        <li>Front-end - React, Next.js, Angular, TailwindCSS</li>
                        <li>Back-end - ExpressJS, Django, Spring Boot</li>
                        <li>Database - MySQL, MongoDB, Firebase</li>
                    </ul>
                </div>
            </div>
        
            <div class="card">
                <div class="front">
                    <i class='bx bx-bot'></i>
                    <h1>Machine Learning and Artificial Intelligence</h1>
                </div>
                <div class="back">
                    <h1>Technologies</h1>
                    <ul>
                        <li>Languages - Python, R</li>
                        <li>Libraries - Scikit-Learn, Tensorflow, NLTK, OpenCV</li>
                        <li>Conceptual - Regression, Model Selection, Supervised Learning</li>
                    </ul>
                </div>
            </div>
        </div>
        <a href="skills/#certificates" class="scroll">
            <i class="bx bxs-down-arrow"></i>
        </a>
    </section>

    <section id="certificates">
        <div class="title">
            <h1>Certificates</h1>
        </div>

        <div class="certificate-cards">
            <div class="certificate-slide">
                <div class="card">
                    <img src="../../assets/AWS.png">
                </div>
                <div class="card">
                    <img src="../../assets/JPMC.png">
                </div>
                <div class="card">
                    <img src="../../assets/VISA.png">
                </div>
                <div class="card">
                    <img src="../../assets/iOS.png">
                </div>
                <div class="card">
                    <img src="../../assets/MLAI.png">
                </div>
            </div>

            <!-- Duplicate -->
            <div class="certificate-slide">
                <div class="card">
                    <img src="../../assets/AWS.png">
                </div>
                <div class="card">
                    <img src="../../assets/JPMC.png">
                </div>
                <div class="card">
                    <img src="../../assets/VISA.png">
                </div>
                <div class="card">
                    <img src="../../assets/iOS.png">
                </div>
                <div class="card">
                    <img src="../../assets/MLAI.png">
                </div>
            </div>
        </div>
    </section>


    <!-- <section id="experience">
        <div class="title">
            <h1>Experience</h1>
            <div class="body">
                <div class="card">
                    <h2>Web Development Instructor</h2>
                    <h2>Chevron Corporation</h2>
                    <h2>Chevron Corporation</h2>
                </div>
            </div>
        </div>

    </section> -->


    <!-- <section id="coursework">
        <div class="title">
            <h1>Coursework</h1>
        </div>

        <div class="body">
            <div class="card">
                <h2>ECS 36A</h2>
                <h2>ECS 36A</h2>
                <h2>ECS 36A</h2>
                <h2>ECS 36A</h2>
                <h2>ECS 36A</h2>
            </div>
        </div>

    </section> -->

</div>