html, body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.dark-theme {
    .page {
        background-color: #637074;
    }
    .header {
        background-color: #284872;
        h1 {
            color: #FFFFFF;
        }
        mat-button {
            outline: #FFFFFF;
        }
    }
    .footer {
        background-color: #284872;
        h1,h2 {
            color: #FFFFFF;
        }
    }
}

.light-theme {
    .page {
        background-color: #FFFFFF;
    }
    .header {
        background-color: #284872;
        h1 {
            color: #FFFFFF;
        }
        mat-button {
            outline: #FFFFFF;
        }
    }
    .footer {
        background-color: #284872;
        h1,h2 {
            color: #FFFFFF;
        }
    }
}
