@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600&family=Ubuntu:wght@300;400;500;700&display=swap');

:root {
    // dark mode
    --prim1: #0B3C5D; // 2b2f4b
    --back1: #0B3C5D; // 2b2f4b
    --text1: #FFFFFF;

    // light mode
    --prim2: #2c6688;
    --back2: #2c6688;
    --text2: #000000;
}

.dark-theme { 
    .content-wrapper {
        background-color: var(--back1);
        h1,h2,a,p {
            color: var(--text1);
        }
        
    }
    .header {
        background-color: var(--prim1);
        h1 {
            color: var(--text1);
        }
        mat-button {
            outline: var(--text1);
        }
        mat-slide-toggle {
            color: var(--text1);
        }
    }
    .footer {
        background-color: var(--prim1);
        h1,h2 {
            color: var(--text1);
        }
    }
}

.light-theme {
    .content-wrapper {
        background-color: var(--back2);
        h1,h2,a,p {
            color: var(--text2);
        }
        
    }
    .header {
        background-color: var(--prim2);
        h1 {
            color: var(--text2);
        }
        mat-button {
            outline: var(--text2);
        }
        mat-slide-toggle {
            color: var(--text2);
        }
    }
    .footer {
        background-color: var(--prim2);
        h1,h2 {
            color: var(--text2);
        }
    }
}
